<!DOCTYPE html>
<html lang="en" data-highlight="{{ .HighlightEnabled }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The local pdf search engine for books" />
    <meta name="keywords" content="PDF, Search engine, local, search, books" />
    <title>PDF Search Engine</title>
    <link rel="shortcut icon" href="/static/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/books.js" defer></script>
  </head>

  <body>
    <header>
      <div class="brand">
        <a href="/">
          <img
            src="/static/pdfsearch.png"
            alt="PDF Search Engine"
            width="48"
            height="48"
          />
          <h1>PDF Search Engine</h1>
        </a>
      </div>
      <p>Books</p>
    </header>

    <main class="main">
      <div class="books">
        <h2 style="padding: 10px; text-align: center">Available Books</h2>
        <input
          type="search"
          name="search_books"
          id="search_books"
          placeholder="Search books"
          style="margin: 0.5rem 1rem"
        />
        {{ range .books }}
        <a class="book_link" href="{{ .URL }}" target="_blank">{{ .Name }}</a>
        {{ end }}
      </div>
    </main>
    <footer>&copy; 2024 &nbsp; Dr. Abiira Nathan</footer>
  </body>
</html>
